.container {
  flex: 2;
  margin-top: 50px;
}
.bottomMenu {
  margin-top: 50px;
}
.categories {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
}

.category {
  padding: 5px;
  border-radius: 5px;
  background-color: bisque;
  color: var(--textColor);
  width: 32%;
  text-align: center;
}
.editorSubtitle {
  margin-top: 25px;
}
.fadedTitle {
  color: var(--softTextColor);
  font-size: 13px;
  opacity: 0.7;
  font-style: italic;
}

@media screen and (max-width: 1024px) {
  .container {
    display: none;
  }
}
