.container {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.imageContainer {
  height: 320px;
  flex: 1;
  position: relative;
}
.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.image {
  object-fit: cover;
  border-radius: 10px;
}
.details {
  display: flex;
  gap: 10px;
}
.postCategory {
  color: crimson;
}

.postTitle {
  font-size: 24px;
}
.postText {
  font-size: 13px;
}
.readMore {
  font-size: 15px;
  border-bottom: 1px solid crimson;
  width: max-content;
}
