.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 100px;
}

.social {
  display: flex;
  gap: 10px;
  flex: 1;
}

.logo {
  flex: 1;
  text-align: center;
  font-size: 30px;
  font-weight: normal;
}
.links {
  display: flex;
  flex: 1;
  gap: 20px;
  font-size: 16px;
  align-items: center;
}

@media screen and (max-width: 1280px) {
  .logo {
    font-size: 24px;
    font-weight: normal;
  }
  .links {
    font-size: 12px;
    gap: 15px;
  }
}
@media screen and (max-width: 1024px) {
  .social {
    display: none;
  }
  .logo {
    text-align: left;
  }
}

@media screen and (max-width: 768px) {
  .links {
    justify-content: flex-end;
  }
  .link {
    display: none;
  }
  .logo {
    font-size: 18px;
  }
}

@media screen and (max-width: 640px) {
  .links {
    justify-content: flex-end;
  }
  .logo {
    font-size: 18px;
  }
}

@media screen and (max-width: 430px) {
  .links {
    justify-content: flex-end;
  }
  .logo {
    font-size: 18px;
  }
}
