.title {
  margin: 50px 0;
  font-size: 25px;
}

.categories {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.category {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;

  width: 15%;
  padding: 18px;
  border-radius: 5px;
  opacity: 0.9;
  color: white;
}

.category.personal {
  background-color: rebeccapurple;
}
.category:hover.personal {
  background-color: aqua;
}

.category.tech {
  background-color: cornflowerblue;
}
.category.society {
  background-color: green;
}
.image {
  border-radius: 50%;
}

@media screen and (max-width: 1280px) {
  .category {
    width: 20%;
  }
}
@media screen and (max-width: 1024px) {
  .category {
    width: 25%;
  }
}

@media screen and (max-width: 768px) {
  .category {
    width: 100%;
  }
}
